.addThreatContainer {
    display: flex;
    width: 400px;
    margin: 5em auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    box-shadow: 15px 15px 15px black;
  }
  
  .addThreatHeader {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .labelHeaders {
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 29em;
    min-width: 29em;
  }

  textarea {
    min-height: 10em;
  }
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #45a049;
  }

  input {
    border: 2px solid black;
  }
