.weapons {
  display: flex;
flex-wrap: wrap;
overflow: unset;
justify-content: center;
}

.weaponCard {
  margin-bottom: 1.25rem;
}

.weaponCardImage {
  max-width: 40%;
  max-height: 6.5rem;
  transition: transform 0.3s;
}

.weaponCardImage:hover {
  transform: scale(1.1);
}

.weaponCardTitle {
  font-size: 1.125rem;
  margin-top: 0.625rem;
}

.weaponContainer {
  display: flex;
  flex-direction: column;
  size: auto;
  padding: 2rem;
  background: #345;
  margin: 2em;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 1px black;
  max-width: fit-content;
}

.weaponImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  max-width: 20em;
  max-height: 20em;
  margin: auto;
}

.weaponImage {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.weaponText {
  margin-top: 1em;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: large;
  text-align: center;
  flex-wrap: wrap;
  background-size: auto;
  color: white;
}

.header {
  text-align: center;
  color: white;
}

.weaponDetails {
  display: flex;
  justify-content: center;
}