body {
    background: #1A1E23;
    font-family: "Montserrat", sans-serif;
}

.cardsContainer {
    margin: 2rem;
}

.targets {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

#title {
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 10rem;
    margin-right: 1em;
    padding: 1em;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgb(211, 211, 211);
    border: 2px solid black;
}

.cardImage {
    height: 100%;
    width: 100%;
    border: 2px solid black;
}

.cardTitle {
    display:block;
    text-align:center;
    margin-bottom:0px;
    color: black;
    border: 2px solid black;
}