.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.4fr 1fr 1fr 1.6fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header"
    "targetDetailContainer targetDetailContainer targetDetailContainer weaponsGoodAgainst"
    "targetDetailContainer targetDetailContainer targetDetailContainer weaponsGoodAgainst"
    "targetInArea targetInArea targetInArea weaponsGoodAgainst"
    "targetInArea targetInArea targetInArea weaponsGoodAgainst"
    "footer footer footer footer";
}

.targetDetailContainer { grid-area: targetDetailContainer;
}
.footer { grid-area: footer;
  
}
.weaponsGoodAgainst { grid-area: weaponsGoodAgainst;
}
.targetInArea { grid-area: targetInArea;
}
.header { grid-area: header;
 
}
.target {
  display: block;
  background-color: rgba(6, 6, 6, 0.2);
  width: 100%;
  height: 100%;
}
header {
  text-align: center;
  background-color: rgb(91, 88, 88);
  color: bisque;
}
.weaponsGoodAgainst { 
  display: block;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  background: #345;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 1px black;
}
.targetDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    background: #345;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 1px black;
  }
  .targetName{
    font-size: 8rem;
    font-weight: 800;
    text-shadow: 2px 2px 9px black ;
    color: white;
  }
  .targetImageContainer {
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    padding: 2rem;
  }

  .targetImage {
    display: block;
    height:25rem;
    width: auto;
    max-width: 100%;
    max-height: 300px;
    margin: auto;
  }

  .targetDetails {
    margin-bottom: 20px;
    padding: 1rem;
    color: white;
  }
  .targetInArea {
    color: black;
    margin: 1em;
    background: #345;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 1px black;
  }
  .targetInAreaSearchBar {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: black;
  }
  .targetSearchButton {
    border-radius: 10px;
    padding: 0.5em;
    min-width: 20em;
  }
  .targetInAreaContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
    height:90%;
    width:90%;
    overflow: auto;
    color: black;
    margin: 1em;
  }

  #title {
    text-align: center;
  }

  .card {
    margin-left: 5em;
  }
